.table-container {
    display: flex;
    max-width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.employee-table {
    text-align: left;
    width: 80%;
    height: auto;
    border-spacing: 0px;
    border-collapse: separate;
    border: 2px solid black;
}

.employee-table td, th{
    padding: 10px 10px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

.employee-table th {
    background-color: greenyellow;
    text-align: center;
}

.employee-table tr.even {
    background-color: rgb(250, 250, 250);
}

.employee-table tr.odd {
    background-color: rgb(240, 240, 240);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
}

.navbar span {
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}

.nav-container {
    display: flex;
    margin-right: 15px;
}

.nav-container a {
    display: inline;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 1.1rem;
}